#titlePage{
    text-transform: uppercase;
    text-align: center;
}
#instructionsH3, #InstructionsP{
    display: inline;
    font-size: 2vw;
}
#description {
    margin-top: 20px;
    text-align: center;
}
#partDescription {
    margin: 0;
    margin-left: 10%;
    width: 80%;
    font-size: 2vw;
}
#notice {
    margin:0;
    color: green;
    font-size: 200%;
}
#lifes {
    color: red;
    font-size: 150%;
    margin: 0;
}
#defaultCanvas0 {
    display: block;
    margin: auto;
    width: 75%;
    height: 100% !important;
}

@media screen and (max-width: 700px) {
    #instructionsH3, #InstructionsP{
        font-size: 6vw;
    }
    #partDescription {
        font-size: 7.5vw;
    }
}

@media screen and (max-width: 900px) {
    #defaultCanvas0 {
        width: 99.5% !important;
    }
}

/* Color body background styles*/
.level1 {
    background: rgb(150, 255, 100) 
}

.level2 {
    background: rgb(255, 255, 100) 
}

.level3 {
    background: rgb(255, 100, 100) 
}

.endgame {
    background: rgb(132, 196, 255)
}